.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 40px;
  opacity: 90%;
  margin-bottom: 15px;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons i {
  margin-left: 25px;
}
.screen-header__icons {
  position: relative;
}
.screen-header__new-find {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 95px;
  bottom: 20px;
}
.screen-header__new-more {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 145px;
  bottom: 20px;
}
