.input-file-button{
  padding: 6px 26px;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  margin-left: 180px;
  border: solid black;
}

.input-submit-button{
  padding: 12px 52px;
  border-radius: 8px;
  border: rgba( 255, 0, 0, 0.8 );
  background-color: rgba( 255, 0, 0, 0.8 );
  color: white;
  cursor: pointer;
  font-size:20px;
}

input::file-selector-button {
  display:none;
}

.input_center {
  text-align: center;
}

#input-file{
  margin: 15px
}

#input-submit {
  display:none;
}

table {
  width: 300px;
  border: 1px solid #000000;
  border-collapse: collapse;
}

table td {
  border: 1px solid #fe7e48;
  padding: 0px 20px;
}

table.hidden {
  border-style: hidden;
  margin: 10px;
}

.center {
  text-align: center;
}

.copy {
  border: 2px solid black;
  margin: auto;
  width: 500px;
  text-align: center;
}
